@{
    ViewBag.Title = "";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <h4 style="color:white; text-align:center">
        Vui lòng kiểm tra email để  reset mật khẩu của bạn.
    </h4>
    <div style="margin-left:45%" class="btn btn-outline-light">@Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</div>

</div>
	
